@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.black);
  --background: theme(colors.white);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
