@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.black);
  --background: theme(colors.white);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  line-height: 1.2;
}
.prose
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before,
.prose
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
