name: checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm install -g corepack
      - run: corepack enable
      - run: corepack pnpm install

      - name: Install Playwright Browsers
        run: corepack pnpm exec playwright install --with-deps
      - name: Run Tests
        run: corepack pnpm test run

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: corepack enable
      - run: corepack pnpm install

      - name: Build Site
        run: corepack pnpm --filter site run build
